<h1>AF Landslide Forecasting</h1>
<p>This website was constructed to integrate real-time weather data with the
  USGS landslide risk estimation algorithms, in the hope that this will prove useful to
  utilities and others who need to care about such things on a day-to-day basis.</p>

<p>By integrating with <%= link_to 'Darksky', 'https://darksky.net/poweredby/' %> for weather data,
  we are able to see both forecasts for the next week as well as historical weather data. This
  combination allows us to answer the question, "how likely are we to see a landslide near this place today? What about tomorrow? And the rest of the next week?"</p>

<p>The algorithm we are using was developed by <%= link_to 'Rex Baum of the US Geological Survey', 'http://landslides.usgs.gov/monitoring/seattle/rtd/plot.php' %>. </p>


