<footer class="footer">
  <small>
    A landslide forecasting tool by Chris Cox
  </small>
  <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
        <li><%= link_to 'Powered by Darksky', 'https://darksky.net/poweredby/' %></li>
        <li><%= link_to 'Risk algorithms courtesy of the USGS', 'http://landslides.usgs.gov/monitoring/seattle/rtd/plot.php' %></li>
      </ul>
  </nav>

</footer>